{
	order rate_limit before basicauth
    email admin@{$RIFT_DOMAIN}
}

(common_rate_limit) {
    rate_limit {
        zone dynamic_zone {
            key {http.request.remote_ip}
            events {$CADDY_RATE_LIMIT_EVENTS}
            window 5s
        }
    }
}

(common_cors) {
    @options {
        method OPTIONS
    }
    header {
        Access-Control-Allow-Origin "https://{$RIFT_WEBSITE_DOMAIN}"
        Access-Control-Allow-Methods "GET, POST, HEAD, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
        Access-Control-Allow-Credentials true
    }
    respond @options 204
}

grafana.{$RIFT_DOMAIN} {
    reverse_proxy {$GRAFANA_TARGET}
}

auth.{$RIFT_DOMAIN} {
    tracing {
        span keycloak
    }
    reverse_proxy {$KEYCLOAK_TARGET}
}

{$RIFT_WEBSITE_DOMAIN} {
    import common_rate_limit
    reverse_proxy {$RIFT_WEBSITE_PROXY_HOST}
}

{$RIFT_GAME_SERVER_DOMAIN} {
    import common_rate_limit
    tracing {
        span rift_game_server
    }
    reverse_proxy {$RIFT_GAME_SERVER_PROXY_HOST}
    import common_cors
}
